@model IEnumerable<ShopSuey2042.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <div class="row">
        @foreach (var item in Model)
        {
            item.Name = string.Concat(item.Name[0].ToString().ToUpper(), item.Name.AsSpan(1));
            <div class="col-xl-2 col-lg-3 col-sm-6 my-1">
                <partial name="ProductCardPartial" model="item" />
            </div>
        }
    </div>
</div>

